.max-h-0 {
    max-height: 0;
opacity: 0;
visibility: hidden;
  }
  .max-h-full {
    max-height: 100px;
    opacity: 1;
    visibility: visible;
  
    transition: all .7s;
    

  }

  /*
  
  .max-h-full {
  max-height: 100px;
   opacity: 1;
    transition: max-height .5s linear;
    
  }


  .hide{
    max-height: 0;
    visibility: hidden;
    


  }
*/
  
